<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Resume Template</title>
  <meta name="viewport" content="width=device-width"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
			<div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="" /></span>
        <svg version="1.1" viewBox="0 0 350 350">
  
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
    </filter>
  </defs>
  
  
<g filter="url(#goo)" >  
  
  <circle id="main_circle" class="st0" cx="171.5" cy="175.6" r="130"/>
  
  <circle id="circle" class="bubble0 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble1 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble2 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble3 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble4 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble5 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble6 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble7 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble8 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble9 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble10 st1" cx="171.5" cy="175.6" r="122.7"/>

</g>  
</svg>
      </div>
         <div class="clearfix"></div>
 </div>
      <div class="name-wrapper">
        <h1> <br/>温砚</h1><!-- YOUR NAME AND LAST NAME  -->
      </div>
      <div class="clearfix"></div>
      <div class="contact-info clearfix">
      	<ul class="list-titles">
      		<li>电话</li>
      		<li>邮箱</li>
      		<li>github</li>
      		<li>住址</li>
      	</ul>
        <ul class="list-content ">
        	<li>+86 176********</li> <!-- YOUR PHONE NUMBER  -->
        	<li>wenyanpython@outlike.com</li> <!-- YOUR EMAIL -->
        	<li><a href="#">github.com/Wenyanlikefish</a></li> <!-- YOUR WEBSITE  -->
        	<li>湖北师范大学学舍</li> <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
      <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
      	<p><span class="bold">本人能吃苦耐劳，适应性强，协调性好，对工作认真负责，工作积极、主动、上进，有良好的的心理素质，能正确的认识和评价自己，虚心接受他人的建议。拥有良好的表达和沟通能力，易于他人合作，形成融洽的合作关系。并有很强的团队合作精神和合作能力、注重工作效率</span>  </p>
      </div>
      <div class="contact-social clearfix">
      	<ul class="list-titles">
      		<li>Twitter</li>
      		<li>Dribbble</li>
      		<li>Codepen</li>
      	</ul>
        <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
      		<li><a href="">@janderson</a></li> <!-- YOUR TWITTER USER  -->
      		<li><a href="">janderson</a></li> <!-- YOUR DRIBBBLE USER  -->
      		<li><a href="">janderson</a></li> <!-- YOUR BEHANCE USER  -->
      	</ul>
      </div>
		</div>
	</section>
  
  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">教育经历</h3>
      
      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">学校名称</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">2018.9-2022.6</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
        <div class="job-wrapper clearfix">
        	<div class="experience-title">湖北师范大学</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>计算机与信息工程学院软件工程专业</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
      </div><!--Skill experience-->
        <div class="container">
  		<h3 class="experience-title">项目经验</h3>
        <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">项目名称</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">2021.6-2021.7</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        <div class="job-wrapper clearfix">
        	<div class="experience-title">python爬虫</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>爬取数据信息并可视化分析</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
      </div>
      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">项目名称</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">2021.4-2021.5</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        <div class="job-wrapper clearfix">
        	<div class="experience-title">文本识别小程序</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>软件测试</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
      </div>

      
      <div class="section-wrapper clearfix">
      	<h3 class="section-title">技能</h3>  <!-- YOUR SET OF SKILLS  -->
        	<ul>
        		<li class="skill-percentage">HTML / HTML5</li>
        		<li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
        		<li class="skill-percentage">Javascript</li>
        		<li class="skill-percentage">Jquery</li>
        		<li class="skill-percentage">Wordpress</li>
        		<li class="skill-percentage">Photoshop</li>
            
        	</ul>
        
      </div>
      
      <div class="section-wrapper clearfix">
        <h3 class="section-title">兴趣爱好</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
        <p>阅读名著书籍、旅行、看电影</p>

      </div>
      
  	</div>
  </section>
  
  <div class="clearfix"></div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script><script  src="../static/script.js"></script>

</body>
</html>
